<!-- Text Modal -->
<div class="modal fade" id="modalproject" tabindex="-1"  data-backdrop="static" role="dialog" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'closeDetails'}}><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Details</h4>
        </div>
        <div class="modal-body">
         <b>Git</b><br>
         git clone {{gitpath_href}}<br><br>
         <b>Http access</b><br>
         User: {{login}}<br>
         Password: {{password}}<br><br>
         <b>Ftp Assets & Dump*</b><br>
         User: {{getFtpUser}}<br>
         Password: {{getFtpPassword}}<br>
         Host: {{getFtpHost}}<br><br>
         *The purpose of this ftp repository is to provide datas and assets import for the project during vm creation.<br>Dont import prod datas !! Only a fixtures snapshot for provide some use cases.<br>Files bigger than 100Mo will be deleted.
        </div>
      </div>
    </div>
  </div>