  <nav class="navbar navbar-default blue" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'dashboard' href=false class="navbar-brand navbar-brand-toggle"}}<a href="#"><img src="images/logo.png" border="0" alt="NextDeploy" class="inline-block img-responsive"/></a>{{/link-to}}
        {{#if showSearch}}
        <div class="col-xs-offset-4 navbar-search-xs">
          <span class="col-xs-9">{{input value=search classNames="form-control" placeholder="Search" size="12" autocapitalize="off"}}</span>
          <span class="fa fa-chevron-circle-left fa-2x cancel-search-xs" aria-hidden="true" {{action 'resetSearch'}}></span>
        </div>
        {{/if}}
        <button type="button" class="navbar-toggle collapsed" {{action 'toggleCollapsed'}}>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        {{#bs-collapse collapsed=collapsed}}
        <ul class="nav navbar-nav ul-collapsed" {{action 'toggleCollapsed'}}>
          {{#if session.isAuthenticated}}
            {{#link-to 'vms' tagName='li' href=false}}<a href="">Vms</a>{{/link-to}}
            {{#if isDev}}
              {{#link-to 'projects' tagName='li' href=false}}<a href="">Projects</a>{{/link-to}}
            {{/if}}
            {{#if isLead}}
              {{#link-to 'users' tagName='li' href=false}}<a href="">Users</a>{{/link-to}}
            {{/if}}
            {{#if isAdmin}}
              {{#link-to 'brands' tagName='li' href=false}}<a href="">Brands</a>{{/link-to}}
            {{/if}}
            {{#link-to 'users.edit' currentUser.id tagName='li' href=false}}<a href="">Profile</a>{{/link-to}}
            {{#if isPM}}<li><a href="" {{action 'openGitlab'}}>Gitlab</a></li>{{/if}}
            <li><a href="" {{action 'invalidateSession'}} >Logout</a></li>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          {{/if}}
        </ul>
        {{/bs-collapse}}
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
        <div class="navbar-header">
          {{#link-to 'dashboard' href=false}}<a href="#" class="navbar-brand"><img src="images/logo.png" border="0" alt="NextDeploy" class="inline-block img-responsive"/></a>{{/link-to}}
        </div>

        <ul class="nav navbar-nav">
          {{#if session.isAuthenticated}}
            {{#link-to 'vms' tagName='li' href=false}}<a href="">Vms</a>{{/link-to}}

            {{#if isDev}}
              {{#link-to 'projects' tagName='li' href=false}}<a href="">Projects</a>{{/link-to}}
            {{/if}}
            {{#if isLead}}
              {{#link-to 'users' tagName='li' href=false}}<a href="">Users</a>{{/link-to}}
            {{/if}}
            {{#if isAdmin}}
              {{#link-to 'brands' tagName='li' href=false}}<a href="">Brands</a>{{/link-to}}
            {{/if}}
            <li><a href="" {{action 'help'}}>?</a></li>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          {{/if}}
        </ul>
        {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav navbar-right">
          {{#if showSearch}}
          <li class="navbar-form">
            <span class="glyphicon glyphicon-search search-simplify" aria-hidden="true"/> {{input value=search classNames="form-control search-simplify" placeholder="Search" size="12"}}
          </li>
          {{/if}}
          {{#link-to 'users.edit' currentUser.id tagName='li' href=false}}<a href=""><span class="glyphicon glyphicon-user"></span> Profile</a>{{/link-to}}
          {{#if isPM}}<li><a href="/gitlab" target="_blank"><span class="fa fa-gitlab" title="Gitlab"></span> Gitlab</a></li>{{/if}}
          <li><a href="" {{action 'invalidateSession'}} ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>

        {{/if}}
    </div>
  </nav>

  {{application-help modalHelp=modalHelp}}
