<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if brand.id}}Edit brand {{brand.name}}{{else}}Add new brand{{/if}}</legend>
  <div class="form-group">
    {{#if errorName}}
      <label class="control-label  col-md-2 col-sm-3 col-xs-4 alert-danger">Name</label>
    {{else}}
      {{#if errorName2}}
        <label class="control-label  col-md-2 col-sm-3 col-xs-4 alert-danger">Already taken</label>
      {{else}}
        <label class="control-label  col-md-2 col-sm-3 col-xs-4 alert-success">Name</label>
      {{/if}}
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" value=brand.name placeholder="Brand Title"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 col-sm-3 col-xs-4">
      <button type="submit" class="pull-right btn btn-primary">Submit</button>
    </div>
  </div>
</form>
