<table class="table" style="width: 40%;">
 <thead>
    <tr>
        {{#if isAdmin}}<th class="simplify-mobile first-col">&nbsp;</th>{{/if}}
        <th>Details</th>
        <th><span class="fa fa-industry" title="Projects"></span></th>
    </tr>
</thead>
<tbody>
  {{#each brands as |brand|}}
    {{#if brand.isShow}}
    <tr>
        {{#if isAdmin}}
        <td class="simplify-mobile first-col">{{input type="checkbox" checked=brand.todelete}}</td>
        {{/if}}
        {{#if isAdmin}}{{#link-To 'brands.edit' brand.id tagName="td" classNames="tdhref"}}<a href="">{{brand.name}}</a>{{/link-To}}
        {{else}}{{brand.name}}{{/if}}
        <td>{{#link-To 'projects.bybrand' brand.id}}{{brand.projects.length}}{{/link-To}}</td>
    </tr>
    {{/if}}
    {{/each}}
</tbody>
</table>
{{#if isAdmin}}
<div class="btn-group navbar-default navbottom">
    <div class="buttons-row">
    <button {{action "newItem"}} class="btn btn-default btn-sm" title="Add a new Brand"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete checked Brand"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div class="pages">{{#each pages as |page|}}<a href="#" {{action 'changePage' page.cp}}>{{#if page.current}}<span style="background-color: rgb(51,122,183);color: white;"><span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;</span>{{else}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{/if}}</a>{{/each}}</div>
</div>
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}
