<table class="table" style="width: 40%;">
 <thead>
    <tr>
        {{#if isAdmin}}<th class="simplify-mobile first-col">&nbsp;</th>{{/if}}
        <th>Details</th>
        <th><span class="fa fa-industry" title="Projects"></span></th>
    </tr>
</thead>
<tbody>
  {{#each brands as |brand|}}
    {{#if brand.isShow}}
    <tr>
        {{#if isAdmin}}
        <td class="simplify-mobile first-col" title="Check for delete">{{input type="checkbox" checked=brand.todelete}}</td>
        {{/if}}
        {{#if isAdmin}}{{#link-To 'brands.edit' brand.id tagName="td" classNames="tdhref" title="Edit Brand"}}{{brand.name}}{{/link-To}}
        {{else}}{{brand.name}}{{/if}}
        {{#link-To 'projects.bybrand' brand.id tagName="td" classNames="tdhref" title="Projects for this Brand"}}{{brand.projects.length}}{{/link-To}}
    </tr>
    {{/if}}
    {{/each}}
</tbody>
</table>
{{#if isAdmin}}
<div class="btn-group navbar-default navbottom">
    <div class="buttons-row">
    <button {{action "newItem"}} class="btn btn-default btn-sm" title="Add a new Brand"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete checked Brand"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div class="pages-center">
    <table class="pages"><tr>
        {{#if pages}}
          {{#if previousPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' previousPage}} title="Previous Page"><i class="fa fa-backward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-backward"/></td>
          {{/if}}
        {{/if}}
        {{#each pages as |page|}}<td class="paging-cell paging-current-cell-{{page.current}}" {{action 'changePage' page.cp}}>{{page.cp}}</td>
        {{#if page.partial}}<td class="paging-cell-partial">...</td>{{/if}}{{/each}}
        {{#if pages}}
          {{#if nextPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' nextPage}} title="Next Page"><i class="fa fa-forward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-forward"/></td>
          {{/if}}
        {{/if}}
      </tr></table>
      </div>
</div>
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal') as |modal|}}
  {{#modal.body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/modal.body}}
  {{modal.footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}
