<table class="table table-hover">
 <thead>
    <tr>
        {{#if isProjectCreate}}<th class="simplify-mobile first-col">&nbsp;</th>{{/if}}
        <th>Details</th>
        <th class="simplify">Brand</th>
        {{#if isAdmin}}<th><span class="fa fa-users" title="Users"></span></th>{{/if}}
        <th><span class="fa fa-plug" title="Vms"></span></th>
        <th class="date-simplify tddate"><span class="fa fa-calendar" title="Y/M/D"></span></th>
    </tr>
</thead>
<tbody>
  {{#each projectsSort as |project|}}
    {{#if project.isShow}}
    <tr>
      {{#if isProjectCreate}}
        {{#if project.owner}}
          <td class="simplify-mobile first-col">{{input type="checkbox" checked=project.todelete}}</td>
        {{else}}
          {{#if isAdmin}}
            <td class="simplify-mobile first-col">{{input type="checkbox" checked=project.todelete}}</td>
          {{else}}
            <td class="simplify-mobile first-col">&nbsp;</td>
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if isLead}}
        {{#link-To 'projects.edit' project.id tagName="td" classNames="tdhref"}}<a href="">{{project.name}}</a>{{/link-To}}
      {{else}}
        <td {{action "showDetails" project.id}} class="tdhref"><a href="">{{project.name}}</a></td>
      {{/if}}

      {{#if isAdmin}}
        {{#if brandId}}
          <td class="simplify">{{project.brand.name}}</td>
        {{else}}
          {{#link-to 'projects.bybrand' project.brand.id tagName="td" classNames="simplify tdhref"}}<a href="">{{project.brand.name}}</a>{{/link-to}}
        {{/if}}
      {{else}}
        <td class="simplify">{{project.brand.name}}</td>
      {{/if}}

      {{#if isAdmin}}
        <td>{{#link-to 'users.byproject' project.id}}{{project.users.length}}{{/link-to}}</td>
        <td>{{#link-to 'vms.byproject' project.id}}{{project.vms.length}}{{/link-to}}</td>
      {{else}}
        <td>{{#link-to 'vms.byproject' project.id}}here{{/link-to}}</td>
      {{/if}}
      <td class="date-simplify tddate">{{project.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>

<div class="btn-group navbar-default navbottom">
    <div class="buttons-row">
      {{#if isProjectCreate}}<button {{action "newItem"}} class="btn btn-default btn-sm" title="Create a new Project"><span class="glyphicon glyphicon-plus-sign"></span></button>
      <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete Checked projects"><span class="glyphicon glyphicon-trash"></span></button>
      {{/if}}
    </div>
    <div class="pages">{{#each pages as |page|}}<a href="#" {{action 'changePage' page.cp}}>{{#if page.current}}<span style="background-color: rgb(51,122,183);color: white;"><span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;</span>{{else}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{/if}}</a>{{/each}}</div>
</div>

{{#if isProjectCreate}}
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{#each projects as |project|}}
  {{project-details project=project isShowingDetails=isShowingDetails isBusy=isBusy}}
{{/each}}
