<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if project.id}}Edit project {{project.name}}{{else}}Add new project{{/if}}</legend>
  <div class="form-group">
    {{#if errorBrand}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Brand</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Brand</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      disabled=isDisableEditAdmin
      options=brandsSort
      searchField="name"
      selected=project.brand
      searchEnabled=false
      placeholder="Select a brand"
      onchange=(action (mut project.brand))
      as |brand|
    }}
      {{brand.name}}
    {{/power-select}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorName}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Name</label>
    {{else}}
      {{#if errorNameUnique}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Already taken</label>
      {{else}}
        {{#if errorNameLength}}
          <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Too shorter !</label>
        {{else}}
          <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Name</label>
        {{/if}}
      {{/if}}
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text"
        classNames="form-control"
        maxlength="32"
        autocomplete="off"
        value=project.name
        placeholder="Name"
        readonly=isDisableEdit}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorBrand}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Gitpath</label>
    {{else}}
      {{#if errorName}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Gitpath</label>
      {{else}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Gitpath</label>
      {{/if}}
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text"
        classNames="form-control"
        value=gitPath
        placeholder="Gitpath"
        readonly=true}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorLogin}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Login</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Login</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" autocomplete="off" value=project.login placeholder="Login" disabled=isDisableAdmin}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorPassword}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Password</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Password</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" maxlength="8" value=project.password placeholder="Password" disabled=isDisableAdmin}}
    </div>
  </div>

  {{#if project.id}}
  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">FTP Host</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" autocomplete="off" value=getFtpHost placeholder="FTP Host" readonly=true}}
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">FTP Login</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" autocomplete="off" value=getFtpUser placeholder="FTP Login" readonly=true}}
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">FTP Password</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" autocomplete="off" value=getFtpPassword placeholder="FTP Login" readonly=true}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4" title="Permit override apache setting with .htaccess file">Htaccess</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=project.is_ht
              onToggle=(mut project.is_ht)
              onLabel='true'
              offLabel='false'
              disabled=isDisableCreate}}
      </label>
    </div>
  </div>

  <div class="form-group">
    {{#if errorEndpoints}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Endpoints</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Endpoints</label>
    {{/if}}

    {{#unless isDisableCreate}}
    <div class="control-label col-md-3 col-sm-5 col-xs-6">
    {{#if newFlag}}
    <a href="#" {{action "toggleNewFlag"}} class="pull-left"><span class="glyphicon glyphicon-collapse-up"></span> Hide</a>
    {{else}}
    <a href="#" {{action "toggleNewFlag"}} class="pull-left"><span class="glyphicon glyphicon-collapse-down"></span> Add</a>
    {{/if}}
    </div>
    {{/unless}}
  </div>

  {{#if newFlag}}
    {{project-endpoint project=project frameworks=frameworksSort isExist=false projectSave=projectSave newFlag=newFlag}}
  {{/if}}

  {{#each project.endpoints as |ep|}}
    {{project-endpoint project=project frameworks=frameworksSort endpoint=ep isExist=true projectSave=false}}
  {{/each}}

  <div class="form-group">
    {{#if errorVmsizes}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Sizing</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Sizing</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select-multiple
      options=vmsizesSort
      searchEnabled=false
      disabled=isDisableAdmin
      selected=project.vmsizes
      onchange=(action (mut project.vmsizes))
      as |size|
    }}
      {{size.title}} ({{size.description}})
    {{/power-select-multiple}}
    </div>
  </div>
  <br/>

  <div class="form-group">
    {{#if errorSystem}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">System</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">System</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select-multiple
      options=systemsSort
      searchEnabled=false
      selected=project.systemimages
      placeholder="Select Operating Systems"
      onchange=(action (mut project.systemimages))
      as |system|
    }}
      {{system.name}} ({{system.systemimagetype.name}})
    {{/power-select-multiple}}
    </div>
  </div>
  <br/>

  {{#each project_technotypes as |technoproxy|}}
  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">{{technoproxy.technotype.name}}</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    <label>
      {{x-toggle
          onToggle=(action 'displayTechno')
          value=technoproxy.toggled
          onLabel='true'
          offLabel='false'
          name=technoproxy.technotype.id
          disabled=isDisableCreate}}<br/>
    </label>
    {{#if technoproxy.toggled}}
    {{#power-select
      disabled=isDisableCreate
      searchEnabled=false
      options=technoproxy.technotype.technos
      selected=technoproxy.selected
      onchange=(action (mut technoproxy.selected))
      as |techno|
    }}
      {{techno.name}}
    {{/power-select}}
    {{/if}}
    </div>
  </div>
  <br/>
  {{/each}}

  <div class="form-group">
    {{#if errorUsers}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Users</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Users</label>
    {{/if}}
    <div class="col-md-6 col-sm-8 col-xs-8">
    {{#power-select-multiple
      options=usersSort
      searchField="email"
      selected=project.users
      onchange=(action (mut project.users))
      as |user|
    }}
      {{user.email}} ({{user.lastname}})
    {{/power-select-multiple}}
    </div>
  </div>

  {{#if isFormValid}}
  <div class="form-group">
    <div class="col-md-2 col-sm-3 col-xs-4">
        <button type="submit" class="pull-right btn btn-primary">Submit</button>
    </div>
  </div>
  {{/if}}
</form>
