<table class="table table-hover">
 <thead>
    <tr>
        {{#if isProjectCreate}}<th class="simplify-mobile first-col">&nbsp;</th>{{/if}}
        <th>Details</th>
        <th class="simplify">Brand</th>
        {{#if isAdmin}}<th><span class="fa fa-users" title="Users"></span></th>{{/if}}
        <th><span class="fa fa-plug" title="Vms"></span></th>
        <th class="date-simplify tddate" title="Creation Date (Y/M/D)"><span class="fa fa-calendar"></span></th>
    </tr>
</thead>
<tbody>
  {{#each projectsSort as |project|}}
    {{#if project.isShow}}
    <tr>
      {{#if isProjectCreate}}
        {{#if project.owner}}
          <td class="simplify-mobile first-col" title="Check for delete">{{input type="checkbox" checked=project.todelete}}</td>
        {{else}}
          {{#if isAdmin}}
            <td class="simplify-mobile first-col" title="Check for delete">{{input type="checkbox" checked=project.todelete}}</td>
          {{else}}
            <td class="simplify-mobile first-col">&nbsp;</td>
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if isProjectCreate}}
        {{#if project.owner}}
          {{#link-To 'projects.edit' project.id tagName="td" classNames="tdhref" title="Edit Project"}}{{project.name}}{{/link-To}}
        {{else}}
          {{#if isAdmin}}
            {{#link-To 'projects.edit' project.id tagName="td" classNames="tdhref" title="Edit Project"}}{{project.name}}{{/link-To}}
          {{else}}
            <td {{action "showDetails" project}} class="tdhref" title="Details">{{project.name}}</td>
          {{/if}}
        {{/if}}
      {{else}}
        <td {{action "showDetails" project}} class="tdhref" title="Details">{{project.name}}</td>
      {{/if}}

      {{#if isAdmin}}
        {{#if brandId}}
          <td class="simplify">{{project.brand.name}}</td>
        {{else}}
          {{#link-to 'projects.bybrand' project.brand.id tagName="td" classNames="simplify tdhref" title="Projects for this Brand"}}{{project.brand.name}}{{/link-to}}
        {{/if}}
      {{else}}
        <td class="simplify">{{project.brand.name}}</td>
      {{/if}}

      {{#if isAdmin}}
        {{#link-to 'users.byproject' project.id tagName="td" classNames="tdhref" title="Users"}}{{project.users.length}}{{/link-to}}
        {{#link-to 'vms.byproject' project.id tagName="td" classNames="tdhref" title="Vms"}}{{project.vms.length}}{{/link-to}}
      {{else}}
        {{#link-to 'vms.byproject' project.id tagName="td" classNames="tdhref" title="Vms"}}<i class="fa fa-external-link-square" aria-hidden="true"></i>{{/link-to}}
      {{/if}}
      <td class="date-simplify tddate" title="Creation Date (Y/M/D)">{{project.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>

<div class="btn-group navbar-default navbottom">
    <div class="buttons-row">
      {{#if isProjectCreate}}<button {{action "newItem"}} class="btn btn-default btn-sm" title="Create a new Project"><span class="glyphicon glyphicon-plus-sign"></span></button>
      <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete Checked projects"><span class="glyphicon glyphicon-trash"></span></button>
      {{/if}}
    </div>
    <div class="pages-center">
    <table class="pages"><tr>
        {{#if pages}}
          {{#if previousPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' previousPage}} title="Previous Page"><i class="fa fa-backward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-backward"/></td>
          {{/if}}
        {{/if}}
        {{#each pages as |page|}}<td class="paging-cell paging-current-cell-{{page.current}}" {{action 'changePage' page.cp}}>{{page.cp}}</td>
        {{#if page.partial}}<td class="paging-cell-partial">...</td>{{/if}}{{/each}}
        {{#if pages}}
          {{#if nextPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' nextPage}} title="Next Page"><i class="fa fa-forward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-forward"/></td>
          {{/if}}
        {{/if}}
      </tr></table>
      </div>
</div>

{{#if isProjectCreate}}
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") onHide=(action 'closeDeleteModal') as |modal|}}
  {{#modal.body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/modal.body}}
  {{modal.footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{project-details project=projectSelected isShowingDetails=isShowingDetails users=users isBusy=isBusy}}
