{{#bs-modal open=isShowingDetails body=false footer=false title="Details" autoClose=false closeAction=(action 'closeDetails') size='lg'}}
  {{#bs-modal-body}}
    <b>Git</b><br>
    git clone {{project.gitpath_href}}<br><br>
    {{#if isLead}}
    <b>Users</b><br/>
      <div style="width: 80%;">
      {{#power-select-multiple
        options=usersSort
        searchField="email"
        selected=project_users
        dropdownClass="inmodal"
        onchange=(action 'changeUsers')
        as |user|
      }}
        {{user.email}} ({{user.lastname}})
      {{/power-select-multiple}}
      </div>
    <br/>
    {{/if}}
    <b>Http access</b><br>
    User: {{project.login}}<br>
    Password: {{project.password}}<br><br>
    <b>Operating Systems</b><br/>
    {{#each project.systemimages as |os|}}{{os.name}}<br/>{{/each}}<br>
    <b>Frameworks</b><br/>
    {{#each project.endpoints as |ep|}}{{ep.framework.name}}<br/>{{/each}}<br>
    <b>Technos</b><br/>
    {{#each project.technos as |techno|}}{{techno.name}}<br/>{{/each}}<br>
    <b>Ftp Assets & Dump*</b><br>
    User: {{getFtpUser}}<br>
    Password: {{getFtpPassword}}<br>
    Host: {{getFtpHost}}<br><br>
    *The purpose of this ftp repository is to provide datas and assets import for the project during vm creation.
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Close"}}
{{/bs-modal}}

{{#bs-modal header=false footer=false body=false autoClose=false open=loadingModal}}
   {{#bs-modal-header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/bs-modal-header}}
   {{#bs-modal-body}}
        <div class="text-center">Setting is curently applied, please waiting</div>
     {{/bs-modal-body}}
{{/bs-modal}}
