<table class="table">
 <thead>
    <tr>
        <th class="simplify">&nbsp;</th>
        <th>Name</th>
        <th class="simplify">Brand</th>
        <th class="simplify">Systems</th>
        <th>Infos</th>
        <th class="simplify">Frameworks</th>
        <th class="simplify">Technos</th>
        {{#if isAdmin}}<th>Users</th>{{/if}}
        <th>Vms</th>
        <th class="simplify">Date</th>
    </tr>
</thead>
<tbody>
  {{#each projectsSort as |project|}}
    {{#if project.isShow}}
    <tr>
      {{#if project.owner}}
        <td class="simplify">{{input type="checkbox" checked=project.todelete}}</td>
      {{else}}
        {{#if isAdmin}}
          <td class="simplify">{{input type="checkbox" checked=project.todelete}}</td>
        {{else}}
          <td class="simplify">&nbsp;</td>
        {{/if}}
      {{/if}}

      {{#if isLead}}
        {{#link-To 'projects.edit' project.id tagName="td" classNames="tdhref"}}<a href="">{{project.name}}</a>{{/link-To}}
      {{else}}
        <td>{{project.name}}</td>
      {{/if}}

      {{#if isAdmin}}
        {{#if brandId}}
          <td class="simplify">{{project.brand.name}}</td>
        {{else}}
          {{#link-to 'projects.bybrand' project.brand.id tagName="td" classNames="simplify tdhref"}}<a href="">{{project.brand.name}}</a>{{/link-to}}
        {{/if}}
      {{else}}
        <td class="simplify">{{project.brand.name}}</td>
      {{/if}}

      <td class="simplify">{{#each project.systemimages as |os|}}{{os.name}}<br>{{/each}}</td>
      <td><button {{action "showDetails" project.id}} class="btn btn-default btn-xs"><span  class="glyphicon glyphicon-new-window"></span></button></td>
      <td class="simplify">{{#each project.endpoints as |ep|}}{{ep.framework.name}}<br>{{/each}}</td>
      <td class="simplify">{{#each project.technos as |techno|}}{{techno.name}}<br>{{/each}}</td>
      {{#if isAdmin}}
        <td>{{#link-to 'users.byproject' project.id}}{{project.users.length}}{{/link-to}}</td>
      {{/if}}

      {{#if isAdmin}}
        <td>{{#link-to 'vms.byproject' project.id}}{{project.vms.length}}{{/link-to}}</td>
      {{else}}
        <td>{{#link-to 'vms.byproject' project.id}}here{{/link-to}}</td>
      {{/if}}
      <td class="simplify">{{project.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>

<div class="btn-group" style="width: 100%;">
    <div style="display: inline-block;float: left;">
    {{#if isProjectCreate}}<button {{action "newItem"}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify"><span class="glyphicon glyphicon-trash"></span></button>
    {{/if}}
    </div>
    <div style="display:inline-block;float:right;margin:8px;">{{#each pages as |page|}}<a href="#" {{action 'changePage' page.cp}}>{{#if page.current}}<span style="background-color: rgb(51,122,183);color: white;"><span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;</span>{{else}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{/if}}</a>{{/each}}</div>
</div>

{{#if isProjectCreate}}
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{#each projects as |project|}}
  {{project-details project=project isShowingDetails=isShowingDetails isBusy=isBusy}}
{{/each}}