<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>Add new sshkey</legend>
  <div class="form-group">
      <label class="control-label col-sm-2 alert-success">User</label>
    <div class="col-sm-3">{{user.email}}</div>
  </div>

  <div class="form-group">
    {{#if errorName}}
      <label class="control-label col-sm-2 alert-danger">Name</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Name</label>
    {{/if}}
    <div class="col-sm-3">
      {{input type="text"
            classNames="form-control"
            value=sshkey.name
            placeholder="Name"}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorKey}}
      <label class="control-label col-sm-2 alert-danger">Key</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Key</label>
    {{/if}}
    <div class="col-sm-4">
    {{textarea
            classNames="form-control"
            rows=10
            value=sshkey.key
            placeholder="Key"}}
     </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>