<table class="table table-hover">
 <thead>
    <tr>
        <th><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>
        <th>Name</th>
        <th>Key</th>
    </tr>
</thead>
<tbody>
    {{#each user.sshkeys as |sshkey|}}
    <tr>
        <td>{{input type="checkbox" checked=sshkey.todelete}}</td>
        <td>{{sshkey.name}}</td>
        <td>{{sshkey.key_short}}</td>
    </tr>
    {{/each}}
</tbody>
</table>
<div class="btn-group" style="margin: 9px 0 5px;">
    <button {{action "newItem"}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
</div>

{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems")}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
