            <i>For {{uri.absolute}}</i><br>
            {{#if isNpm}}
              {{#unless vm.is_ro}}
                <a {{action 'requestTool' 'npm'}} class="vm-uris-tools">Npm / Grunt / Bower / Gulp</a><br/>
              {{/unless}}
            {{/if}}

            {{#if isNodejs}}
              <a {{action 'requestTool' 'logs'}} class="vm-uris-tools">Nodejs Logs</a><br/>
              {{#unless vm.is_ro}}
                <a {{action 'requestTool' 'nodejs'}} class="vm-uris-tools">Rebuild nodejs app</a><br/>
              {{/unless}}
            {{/if}}

            {{#if isReactjs}}
              <a {{action 'requestTool' 'logs'}} class="vm-uris-tools">Nodejs Logs</a><br/>
              {{#unless vm.is_ro}}
                <a {{action 'requestTool' 'reactjs'}} class="vm-uris-tools">Rebuild reactjs app</a><br/>
              {{/unless}}
            {{/if}}

            {{#if isDrupal}}
              {{#unless vm.is_ro}}
                {{#unless vm.is_prod}}
                  {{#if mustConfirmSiteInstall}}
                  <a {{action 'requestTool' 'siteinstall'}} class="vm-uris-tools">Execute site-install command ... Please Confirm !</a><br/>
                  {{else}}
                  <a {{action 'confirm' 'SiteInstall'}} class="vm-uris-tools">Execute site-install command</a><br/>
                  {{/if}}
                {{/unless}}
              {{/unless}}
              {{#if isDrupal8}}
                {{#unless vm.is_ro}}
                  <a {{action 'requestTool' 'drush' 'cim'}} class="vm-uris-tools">Import Config</a><br/>
                {{/unless}}
                <a {{action 'requestTool' 'drush' 'cr'}} class="vm-uris-tools">Clear all caches</a><br/>
              {{else}}
                <a {{action 'requestTool' 'drush' 'cc all'}} class="vm-uris-tools">Clear all caches</a><br/>
              {{/if}}
              {{#unless vm.is_ro}}
                <a {{action 'requestTool' 'drush' 'updb'}} class="vm-uris-tools">Execute updb command</a><br/>
              {{/unless}}
            {{/if}}

            {{#if isComposer}}
              {{#unless vm.is_ro}}
                <a {{action 'requestTool' 'composer'}} class="vm-uris-tools">ComposerInstall</a><br/>
              {{/unless}}
            {{/if}}

            {{#if isSf2}}
            <a {{action 'requestTool' 'logs'}} class="vm-uris-tools">Symfony Logs</a><br/>
            <a {{action 'requestTool' 'sfcmd' 'cc'}} class="vm-uris-tools">Cc: cc, assets, assetic</a><br/>
            {{#unless vm.is_ro}}
              <a {{action 'requestTool' 'sfcmd' 'doctrine'}} class="vm-uris-tools">Db Schema: schema-update, cc, assets, assetic</a><br/>
              <a {{action 'requestTool' 'sfcmd' 'migration'}} class="vm-uris-tools">Db Migration: migrate, cc, assets, assetic</a><br/>
            {{/unless}}
            {{/if}}

            {{#if vm.is_cached}}
            <a {{action 'requestTool' 'clearvarnish'}} class="vm-uris-tools">Clear Varnish Cache</a><br/>
            {{/if}}

            {{#if uri.is_sh}}
            {{#unless vm.is_ro}}
              {{#each SCRIPTS as |script|}}
                <a {{action 'requestTool' 'script' script.command}} class="vm-uris-tools">{{script.sbin}} ({{script.sfolder}})</a><br/>
              {{/each}}
            {{/unless}}
            {{/if}}
          <br/><br/>
