<table class="table table-hover">
 <thead>
  <tr>
    {{#if isAdmin}}<th class="simplify-mobile first-col">&nbsp;</th>{{/if}}
    <th>Details</th>
    <th class="simplify-mobile">Group</th>
    <th class="simplify">Company</th>
    <th><span class="fa fa-industry" title="Projects"></span></th>
    <th><span class="fa fa-plug" title="Vms"></span></th>
    {{#if isAdmin}}<th class="simplify"><span class="fa fa-key" title="Ssh Keys"></span></th>{{/if}}
  </tr>
</thead>

<tbody>
  {{#each users as |user|}}
    {{#if user.isShow}}
    <tr>
      {{#if isAdmin}}
      <td class="simplify-mobile first-col" title="Check for delete">
        {{#if user.isCurrent}}
          &nbsp;
        {{else}}
          {{input type="checkbox" checked=user.todelete}}
        {{/if}}
      </td>
      {{/if}}

      {{#if isAdmin}}
        {{#link-to 'users.edit' user.id tagName="td" classNames="tdhref" title="Edit User"}}{{user.email}}{{/link-to}}
      {{else}}
        {{#if user.isCurrent}}
          {{#link-to 'users.edit' user.id tagName="td" classNames="tdhref" title="Edit User"}}{{user.email}}{{/link-to}}
        {{else}}
          <td>{{user.email}}</td>
        {{/if}}
      {{/if}}

      {{#if isAdmin}}
        {{#if groupId}}
          <td class="simplify-mobile">{{user.group.name}}</td>
        {{else}}
          {{#link-to 'users.bygroup' user.group.id tagName="td" classNames="tdhref simplify-mobile" title="Users for this group"}}{{user.group.name}}{{/link-to}}
        {{/if}}
      {{else}}
        <td>{{user.group.name}}</td>
      {{/if}}

      <td class="simplify">{{user.company}}</td>

      {{#if isLead}}
        {{#link-to 'projects.byuser' user.id tagName="td" classNames="tdhref" title="Projects for this user"}}{{user.projects.length}}{{/link-to}}
      {{else}}
        {{#if user.isCurrent}}
          {{#link-to 'projects.byuser' user.id tagName="td" classNames="tdhref" title="Projects for this user"}}{{user.projects.length}}{{/link-to}}
        {{else}}
          <td>{{user.projects.length}}</td>
        {{/if}}
      {{/if}}

      {{#if isLead}}
        {{#link-to 'vms.byuser' user.id tagName="td" classNames="tdhref" title="Vms for this user"}}{{user.vms.length}}{{/link-to}}
      {{else}}
        {{#if user.isCurrent}}
          {{#link-to 'vms.byuser' user.id tagName="td" classNames="tdhref" title="Vms for this user"}}{{user.vms.length}}{{/link-to}}
        {{else}}
          <td>{{user.vms.length}}</td>
        {{/if}}
      {{/if}}
        {{#if isAdmin}}<td class="simplify" title="Sshkeys count">{{user.sshkeys.length}}</td>{{/if}}
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>

<div class="btn-group navbar-default navbottom">
  <div class="buttons-row">
  {{#if isUserCreate}}<button {{action "newItem"}} class="btn btn-default btn-sm" title="Add a new User"><span class="glyphicon glyphicon-plus-sign"></span></button>{{/if}}
  {{#if isAdmin}}<button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete checked Users"><span class="glyphicon glyphicon-trash"></span></button>{{/if}}
  </div>
  <div class="pages-center">
  <table class="pages"><tr>
      {{#if pages}}
        {{#if previousPage}}
          <td class="paging-cell paging-cell-arrow" {{action 'changePage' previousPage}} title="Previous Page"><i class="fa fa-backward faa-pulse animated-hover"/></td>
        {{else}}
          <td class="paging-cell-arrow disabled"><i class="fa fa-backward"/></td>
        {{/if}}
      {{/if}}
      {{#each pages as |page|}}<td class="paging-cell paging-current-cell-{{page.current}}" {{action 'changePage' page.cp}}>{{page.cp}}</td>
      {{#if page.partial}}<td class="paging-cell-partial">...</td>{{/if}}{{/each}}
      {{#if pages}}
        {{#if nextPage}}
          <td class="paging-cell paging-cell-arrow" {{action 'changePage' nextPage}} title="Next Page"><i class="fa fa-forward faa-pulse animated-hover"/></td>
        {{else}}
          <td class="paging-cell-arrow disabled"><i class="fa fa-forward"/></td>
        {{/if}}
      {{/if}}
    </tr></table>
    </div>
</div>

{{#if isAdmin}}
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" onSubmit=(action "deleteItems") onHide=(action 'closeDeleteModal') as |modal|}}
  {{#modal.body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/modal.body}}
  {{modal.footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}
