<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if user.id}}Edit user {{user.email}}{{else}}Add new user{{/if}}</legend>
  <div class="form-group">
    {{#if errorEmail}}
        <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Invalid Email !</label>
    {{else}}
      {{#if errorEmail2}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Already taken</label>
      {{else}}
        <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Email Address</label>
      {{/if}}
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="email" classNames="form-control" value=user.email placeholder="Email Address" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorFirstname}}
      <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Firstname</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" value=user.firstname placeholder="Firstname" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorLastname}}
      <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Lastname</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" value=user.lastname placeholder="Lastname" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorCompany}}
      <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Company</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" value=user.company placeholder="Company" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorGroup}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Group</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Group</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=groups
      searchField="name"
      selected=user.group
      searchEnabled=false
      disabled=isDisableAdmin
      placeholder="Select a group"
      onchange=(action 'changeProperty' 'user.group')
      as |group|
    }}
      {{#if group.isShow}}{{group.name}}{{/if}}
    {{/power-select}}
     </div>
  </div>

  {{#if is_project_create_display}}
  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Project Creation</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=user.is_project_create
              disabled=is_project_create_ro
              onLabel='true'
              offLabel='false'
              onToggle=(action 'toggleFlagUser' is_project_create_ro 'is_project_create')}}
      </label>
    </div>
  </div>
  {{/if}}

  {{#if is_user_create_display}}
  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">User Creation</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=user.is_user_create
              disabled=is_user_create_ro
              onLabel='true'
              offLabel='false'
              onToggle=(action 'toggleFlagUser' is_user_create_ro 'is_user_create')}}
      </label>
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Quotavm</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=quotavmlist
      selected=user.quotavm
      searchEnabled=false
      disabled=isDisableRealAdmin
      placeholder="Set a quota"
      onchange=(action 'changeProperty' 'user.quotavm')
      as |quota|
    }}
      {{quota}}
    {{/power-select}}
    </div>
  </div>

  {{#if isDev}}
  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Quota for prod vms</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      {{#power-select
      options=quotavmlist
      selected=user.quotaprod
      searchEnabled=false
      disabled=isDisableRealAdmin
      placeholder="Set a quota"
      onchange=(action 'changeProperty' 'user.quotaprod')
      as |quota|
    }}
      {{quota}}
    {{/power-select}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Keyboard</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=layoutlist
      selected=user.layout
      searchEnabled=false
      disabled=isDisable
      placeholder="Set Layout"
      onchange=(action 'changeProperty' 'user.layout')
      as |layout|
    }}
      {{layout}}
    {{/power-select}}
    </div>
  </div>

  <div class="form-group">
    {{#if successPassword}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Password</label>
      {{else}}
        <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Must be equal with Confirm !</label>
      {{/if}}
    {{else}}
      {{#if errorPassword}}
        <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4"> > 7 chars !</label>
      {{else}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4">Password</label>
      {{/if}}
    {{/if}}

    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="password" classNames="form-control" value=user.password placeholder="Password" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if successPasswordConfirmation}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Password Confirmation</label>
      {{else}}
        <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4">Must be equal with Password !</label>
      {{/if}}
    {{else}}
      {{#if errorPasswordConfirmation}}
        <label class="control-label alert-danger col-md-2 col-sm-3 col-xs-4"> >= 8 chars !</label>
      {{else}}
        <label class="control-label col-md-2 col-sm-3 col-xs-4">Password Confirmation</label>
      {{/if}}
    {{/if}}<div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="password" classNames="form-control" value=user.password_confirmation placeholder="Password" disabled=isDisable}}
    </div>
  </div>


  {{#if user.password}}
  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Send Credentials</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=user.is_credentials_send
              onToggle=(mut user.is_credentials_send)
              onLabel='true'
              offLabel='false'}}
      </label>
    </div>
  </div>
  {{/if}}

  {{#if isEnable}}
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Projects</label>
    <div class="col-md-6 col-sm-8 col-xs-8">
    {{#power-select-multiple
      options=projectSort
      searchField="name"
      searchPlaceholder="Type to filter..."
      searchEnabled=true
      disabled=isDisableProjectList
      selected=user_projects
      placeholder="Select projects"
      onchange=(action 'changeProperty' 'user_projects')
      as |project|
    }}
      {{project.name}} ({{project.brand.name}})
    {{/power-select-multiple}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <div class="col-md-2 col-sm-3 col-xs-4">
      <button type="submit" class="pull-right btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{{#if isSSH}}
  <legend>SSh Keys</legend>
  {{sshkeys-list user=user}}

  {{#if isSelf}}
  <br><br>
  <legend>Openvpn</legend>
  An openvpn connection is mandatory for ssh access into your virtual web servers.<br>
  Firstly, you need an openvpn client software:
  <ul>
    <li>On ubuntu: apt-get install openvpn</li>
    <li>On MacOs: https://code.google.com/p/tunnelblick/</li>
    <li>On windows: https://openvpn.net/index.php/open-source/downloads.html</li>
  </ul>
  <br/>
  After it, you need to download the setting file and import this one into your openvpn client software.<br>
  The 3 others files (server crt, client key and client crt) must be downloaded and copied in specific emplacement on your filesystem.<br>
  Please change the path of this 3 files into the setting file if the destination folder is not the same than this one.<br>
  <ul>
    <li><button {{action "dlOvpnConf"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client openvpn setting file{{#if ovpn_conf}}, copy/paste into your vpn client setting file (for example: nextdeploy.conf)<br/><pre>{{ovpn_conf}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnCa"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The server crt file{{#if ovpn_ca}}, copy/paste into a crt file named ca.crt<br/><pre>{{ovpn_ca}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnKey"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client key file{{#if ovpn_key}}, copy/paste into a key file named {{user.email}}.key<br/><pre>{{ovpn_key}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnCrt"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client crt file{{#if ovpn_crt}}, copy/paste into a crt file named {{user.email}}.crt<br/><pre>{{ovpn_crt}}</pre>{{/if}}</li>
  </ul>
  {{/if}}
{{/if}}
