<form {{action "postItem" on="submit"}}>
{{#if vm.is_prod}}
    <div class="form-group">
      {{#if errorAbsolute}}
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-danger">URI</label>
      {{else}}
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">URI</label>
      {{/if}}
      <div class="{{colSmRight}}">
      {{input type="text" classNames="form-control" autocomplete="off" value=uri.absolute placeholder="Absolute URI" focus-in="displayFocus"}}
      </div>
    </div>

    <div class="form-group">
      {{#if errorAliases}}
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-danger">Alias</label>
      {{else}}
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">Alias</label>
      {{/if}}
      <div class="{{colSmRight}}">
      {{textarea
              classNames="form-control"
              rows=3
              value=uri.aliases
              placeholder="Aliases"
              focus-in="displayFocus"}}
      </div>
    </div>

    {{#if uri.aliases}}
    <div class="form-group">
      <label class="control-label alert-success {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2" title="Redirect Alias to URI">Redirect</label>
      <div class="col-sm-3">
        <label title="Redirect Alias to URI">
          {{x-toggle
                value=uri.is_redir_alias
                onToggle=(action 'toggleRedirectFlag')
                onLabel='true'
                offLabel='false'
                focus-in="displayFocus"}}
        </label>
      </div>
    </div>
    {{/if}}

    <div class="form-group">
      <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">IpFilter</label>
      <div class="{{colSmRight}}">
      {{textarea
              classNames="form-control"
              rows=2
              value=uri.ipfilter
              placeholder="Ipfilter"
              focus-in="displayFocus"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label alert-success {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2">Ssl</label>
      <div class="col-sm-3">
        <label>
          {{x-toggle
                value=uri.is_ssl
                onToggle=(action 'toggleSslFlag')
                onLabel='true'
                offLabel='false'
                change="displayFocus"}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label alert-success {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2">Scripts</label>
      <div class="col-sm-3">
        <label>
          {{x-toggle
                value=uri.is_sh
                onToggle=(action 'toggleShFlag')
                onLabel='true'
                offLabel='false'
                change="displayFocus"}}
        </label>
      </div>
    </div>

    {{#if uriFocused}}
    <div class="form-group">
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">Cms</label>
      <div class="{{colSmRight}}">
      {{input type="text" classNames="form-control" autocomplete="off" value=uri.framework.name disabled=true}}
       </div>
    </div>

    <div class="form-group">
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">Path</label>
      <div class="{{colSmRight}}">
      {{input type="text" classNames="form-control" autocomplete="off" value=uri.path disabled=true}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">Port</label>
      <div class="{{colSmRight}}">
        {{input type="text" classNames="form-control" autocomplete="off" value=uri.port disabled=true}}
      </div>
    </div>
    {{/if}}

    {{#if uri.id}}
      {{#if uriFocused}}
      <div class="form-group">
        <div class="{{colSmRight}} {{colSmOffsetSubmit}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      {{/if}}
    {{/if}}
{{else}}
    <div class="form-group">
        <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">URI</label>

      <div class="{{colSmRight}}">
        {{input type="text" classNames="form-control" autocomplete="off" value=uri.absolute disabled=true}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2 alert-success">Ipfilter</label>
      <div class="{{colSmRight}}">
      {{textarea
              classNames="form-control"
              rows=2
              value=uri.ipfilter
              placeholder="Ipfilter"
              focus-in="displayFocus"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label alert-success {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2">Ssl</label>
      <div class="{{colSmRight}}">
        <label>
          {{x-toggle
                value=uri.is_ssl
                onToggle=(mut uri.is_ssl)
                onLabel='true'
                offLabel='false'
                change="displayFocus"}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label alert-success {{colSmLeft}} col-md-offset-1 col-sm-offset-1 col-xs-offset-2">Scripts</label>
      <div class="{{colSmRight}}">
        <label>
          {{x-toggle
                value=uri.is_sh
                onToggle=(mut uri.is_sh)
                onLabel='true'
                offLabel='false'
                change="displayFocus"}}
        </label>
      </div>
    </div>

    {{#if uri.id}}
      {{#if uriFocused}}
      <div class="form-group">
        <div class="{{colSmRight}} {{colSmOffsetSubmit}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      {{/if}}
    {{/if}}
{{/if}}
</form>

    {{#if uri.id}}
      {{#bs-modal header=false footer=false body=false autoClose=false open=loadingModal}}
       {{#bs-modal-header closeButton=false}}
         <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
       {{/bs-modal-header}}
       {{#bs-modal-body}}
            <div class="text-center">Setting is curently applied, please waiting</div>
         {{/bs-modal-body}}
      {{/bs-modal}}
    {{/if}}
