<form {{action "createItem" on="submit"}} class="form-horizontal">
  <legend>Launch new {{#if isJenkins}}Jenkins {{/if}}vm</legend>
  <div class="form-group">
    {{#if errorProject}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Project</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Project</label>
    {{/if}}
    <div class="col-md-6 col-sm-8 col-xs-8">
    {{#power-select
      options=projects
      searchField="name"
      verticalPosition='below'
      selected=vm.project
      placeholder="Select a project"
      onchange=(action 'projectChange')
      as |project|
    }}
      {{project.name}}
    {{/power-select}}
    </div>
  </div>

  {{#if advancedForm}}
  <div class="form-group">
    {{#if errorVmsize}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Sizing</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Sizing</label>
    {{/if}}
    <div class="col-md-6 col-sm-8 col-xs-8">
    {{#power-select
      options=vm.project.vmsizes
      searchEnabled=false
      selected=vm.vmsize
      verticalPosition='below'
      placeholder="Select a size"
      onchange=(action 'changeProperty' 'vm.vmsize')
      as |vmsize|
    }}
      {{vmsize.title}} ({{vmsize.description}})
    {{/power-select}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorUser}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">User</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">User</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=vm.project.users
      searchField="email"
      selected=vm.user
      verticalPosition='below'
      placeholder="Select an user"
      onchange=(action 'changeProperty' 'vm.user')
      as |user|
    }}
    {{user.email}}
    {{/power-select}}
    </div>
  </div>
  {{/if}}

  {{#if vm.project}}
  <div class="form-group">
    {{#if errorBranch}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Branch</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Branch</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=vm.project.branches
      searchField="name"
      selected=branche
      verticalPosition='below'
      placeholder="Select a branch"
      onchange=(action 'changeProperty' 'branche')
      as |branche|
    }}
    {{branche.name}}
    {{/power-select}}
    </div>
  </div>
  {{/if}}

  {{#if advancedForm}}
  <div class="form-group">
    {{#if errorCommit}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Commit</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Commit</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=branche.commits
      searchField="short_id"
      selected=vm.commit
      verticalPosition='below'
      placeholder="Select a commit"
      onchange=(action 'changeProperty' 'vm.commit')
      as |commit|
    }}
    {{commit.short_id}}
    {{/power-select}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
    {{textarea
            readonly="true"
            classNames="form-control"
            rows=7
            value=vm.commit.message
            placeholder="Commit Msg"}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorOs}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">System</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">System</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      options=vm.project.systemimages
      selected=vm.systemimage
      verticalPosition='below'
      placeholder="Select an OS"
      onchange=(action 'changeProperty' 'vm.systemimage')
      as |systemimage|
    }}
    {{systemimage.name}}
    {{/power-select}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorTopic}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Topic</label>
    {{else}}
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Topic</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
      {{input type="text" classNames="form-control" maxlength="20" value=vm.topic placeholder="Topic" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Htaccess</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_ht
              onLabel='true'
              offLabel='false'
              onToggle=(mut vm.is_ht)}}
      </label>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Cors</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_cors
              onLabel='true'
              offLabel='false'
              onToggle=(mut vm.is_cors)}}
      </label>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Read-Only</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_ro
              onLabel='true'
              offLabel='false'
              onToggle=(mut vm.is_ro)}}
      </label>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Web Cache</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_cached
              onLabel='true'
              offLabel='false'
              onToggle=(mut vm.is_cached)}}
      </label>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">Prod</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_prod
              onLabel='true'
              offLabel='false'
              onToggle=(action 'toggleFlagVm' isDisabledProd 'is_prod')
              disabled=isDisabledProd}}
      </label>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label alert-success col-md-2 col-sm-3 col-xs-4">BasicAuth</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
      <label>
        {{x-toggle
              value=vm.is_auth
              onLabel='true'
              offLabel='false'
              onToggle=(action 'toggleFlagVm' isDisabledAuth 'is_auth')
              disabled=isDisabledAuth}}
      </label>
    </div>
  </div>

  {{#if vm.is_auth}}
  <div class="form-group">
    {{#if errorLogin}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Login</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Login</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" autocomplete="off" value=vm.htlogin placeholder="Login" focus-out='checkLogin'}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorPassword}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Password</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Password</label>
    {{/if}}
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{input type="text" classNames="form-control" maxlength="8" value=vm.htpassword placeholder="Password" focus-out='checkPassword'}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    {{#if errorUri}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Uris</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Uris</label>
    {{/if}}
  </div>

  {{#each vm.uris as |uri|}}
      {{vm-form-uri vm=vm uri=uri checkListUris=checkListUris isPopin=0}}
  {{/each}}

  {{#each vm.technos as |techno|}}
  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">{{techno.technotype.name}}</label>
    <div class="col-md-3 col-sm-5 col-xs-6">
    {{#power-select
      searchEnabled=false
      options=techno.technotype.technos
      selected=techno
      onchange=(action 'changeTechno')
      as |techno|
    }}
      {{techno.name}}
    {{/power-select}}
    </div>
  </div>
  <br/>
  {{/each}}
  {{/if}}

  {{#unless isJenkins}}
  {{#if isDev}}
  {{#if vm.project}}
  <div class="form-group">
  <label class="control-label col-md-2 col-sm-3 col-xs-4">
  {{#if advancedForm}}
  <a href="#" {{action "toggleAdvanced"}}><span class="glyphicon glyphicon-collapse-up"></span> Standard</a>
  {{else}}
  <a href="#" {{action "toggleAdvanced"}}><span class="glyphicon glyphicon-collapse-down"></span> Advanced</a>
  {{/if}}
  </label>
  </div>
  {{/if}}
  {{/if}}
  {{/unless}}

  {{#if isValid}}
  <div class="form-group">
  <div class="col-md-2 col-sm-3 col-xs-4">
    <button type="submit" class="pull-right btn btn-primary">Submit</button>
  </div>
  </div>
  {{/if}}
</form>
{{#bs-modal header=false footer=false body=false autoClose=false open=loadingModal}}
   {{#bs-modal-header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/bs-modal-header}}
{{/bs-modal}}
