{{#bs-modal open=isShowingSupervise body=false header=false footer=false size="lg" closedAction=(action 'closedSupervise') as |modal|}}
  {{#modal.header}}{{#if isRunning}}Supervise for {{vm.name}}{{else}}Please try again later{{/if}}{{/modal.header}}
  {{#modal.body}}
    {{#if isRunning}}
    <div class="form-horizontal">
    {{#each vm.supervises as |sv|}}
    <div class="form-group">
      <label class="control-label col-md-4 col-sm-6 col-xs-6">{{sv.techno.name}}<br>({{sv.techno.technotype.name}})</label>
    {{#if sv.status}}
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding-top: 16px;">
      <span class="fa fa-check fa-2x success"></span>
    </div>
    {{else}}
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding-top: 16px;">
      <span class="fa fa-fire fa-2x danger"></span>
    </div>
    {{/if}}
  </div>
  {{/each}}
  {{#if isDev}}
  <div class="form-group">
    <label style="padding-top: 28px;" {{action "showToolTip" 'soft' on="mouseEnter"}} {{action "hideToolTip" 'soft' on="mouseLeave"}} class="col-md-4 col-sm-6 col-xs-6 control-label">Soft Reboot</label><br>
    <div {{action "showToolTip" 'soft' on="mouseEnter"}} {{action "hideToolTip" 'soft' on="mouseLeave"}} class="col-md-2 col-sm-3 col-xs-4">
      {{#if vm.is_ro}}
        <button class="btn btn-success disabled" title="Vm is in read-only state">Reboot !</button>
      {{else}}
        <button {{action 'reboot' 'SOFT'}} class="btn btn-success">Reboot !</button>
      {{/if}}
    </div>
    {{#if softToolTip}}
    <div class="col-md-6 col-sm-8 col-xs-8 control-label">
      <i>Reboot "software" (like restart into your operating system)</i>
    </div>
    {{/if}}
  </div>
  <div class="form-group">
    <label style="padding-top: 28px;" {{action "showToolTip" 'hard' on="mouseEnter"}} {{action "hideToolTip" 'hard' on="mouseLeave"}} class="col-md-4 col-sm-6 col-xs-6 control-label">Hard Reboot</label><br>
    <div class="col-md-2 col-sm-3 col-xs-4" {{action "showToolTip" 'hard' on="mouseEnter"}} {{action "hideToolTip" 'hard' on="mouseLeave"}}>
      {{#if vm.is_ro}}
        <button class="btn btn-success disabled" title="Vm is in read-only state">Reboot !</button>
      {{else}}
        <button {{action 'reboot' 'HARD'}} class="btn btn-success">Reboot !</button>
      {{/if}}
    </div>
    {{#if hardToolTip}}
    <div class="col-md-6 col-sm-8 col-xs-8 control-label">
      <i>Reboot "hardware" (like push reset button on laptop)</i>
    </div>
    {{/if}}
  </div>
  {{/if}}
  </div>
    {{else}}
      <b>Vm is not on running status.</b>
    {{/if}}
  {{/modal.body}}
  {{modal.footer closeTitle="Close"}}
{{/bs-modal}}

{{#bs-modal open=isShowingRebootConfirmation body=false footer=false title="Attention" submitAction=(action "rebootVm") as |modal|}}
  {{#modal.body}}
    Are you sure to proceed (Vm reboot action) ?<br/>
  {{/modal.body}}
  {{modal.footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}

{{#bs-modal header=false footer=false body=false renderInPlace=true autoClose=false classNames=['ember-view','loadingModal'] open=loadingModal as |modal|}}
   {{#modal.header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/modal.header}}
      {{#modal.body}}
        <div class="text-center">Reboot request is sending ...</div>
     {{/modal.body}}
{{/bs-modal}}
