{{#bs-modal open=isShowingSettings body=false header=false footer=false size="lg" onHidden=(action 'closedSettings') fade=fadeSettings as |modal|}}
  {{#modal.header}}{{#if isRunning}}Settings for {{vm.name}}{{else}}Please try again later{{/if}}{{/modal.header}}
  {{#modal.body}}
    {{#if isRunning}}
    <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Topic</label>
        <div class="col-md-2 col-sm-4 col-xs-4">
          {{input type="text" classNames="form-control" maxlength="20" value=vm.topic placeholder="Topic" disabled=isDisabledAdminVms focus-in="enterTopic" focus-out="updateTopic"}}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-4">Offline</label>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'offline' on="mouseEnter"}} {{action "hideToolTip" 'offline' on="mouseLeave"}}>
        {{x-toggle
              value=vm.is_offline
              onLabel='true'
              offLabel='false'
              onToggle=(action 'changeToggle' 'offline')
              disabled=isDisabledAdminVms}}
      </div>
      {{#if offlineToolTip}}
      <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
        <i>Redirect all vm endpoints to the NextDeploy offline page</i>
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Caching</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'cached' on="mouseEnter"}} {{action "hideToolTip" 'cached' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_cached
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'cached')
            disabled=isDisabledAdminVms}}
    </div>
    {{#if cachedToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Enable varnish cache for static objects</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">BasicAuth</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'auth' on="mouseEnter"}} {{action "hideToolTip" 'auth' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_auth
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'auth')
            disabled=isDisabledAuth}}
    </div>
    {{#if authToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Enable basic authentification for the website</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Htaccess</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'ht' on="mouseEnter"}} {{action "hideToolTip" 'ht' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_ht
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'ht')
            disabled=isDisabledAdminVms}}
    </div>
    {{#if htToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Enable custom apache htacces file in webroot, not recommended !</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Backup</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'backup' on="mouseEnter"}} {{action "hideToolTip" 'backup' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_backup
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'backup')
            disabled=isDisabledBackup}}
    </div>
    {{#if backupToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>{{#if isDisabledBackup}}Nothing to backup (database or assets) for this project{{else}}Enable daily backup with one week history{{/if}}</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">CI</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'ci' on="mouseEnter"}} {{action "hideToolTip" 'ci' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_ci
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'ci')
            disabled=isDisabledAdminVms}}
    </div>
    {{#if ciToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Updates each 30 min with the last commit pushed on the branch</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 col-xs-4">Cors</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'cors' on="mouseEnter"}} {{action "hideToolTip" 'cors' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_cors
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'cors')
            disabled=isDisabledAdminVms}}
    </div>
    {{#if corsToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Add cors header for authorize external website to request vm</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4 col-xs-4">Read-Only</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'ro' on="mouseEnter"}} {{action "hideToolTip" 'ro' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_ro
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeToggle' 'ro')
            disabled=isDisabledRo}}
    </div>
    {{#if roToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Make this vm on read-only state</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Prod</label>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" {{action "showToolTip" 'prod' on="mouseEnter"}} {{action "hideToolTip" 'prod' on="mouseLeave"}}>
      {{x-toggle
            value=vm.is_prod
            onLabel='true'
            offLabel='false'
            onToggle=(action 'changeProd')
            disabled=isDisabledProd}}
    </div>
    {{#if prodToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Prod Flag with higher security level, custom uris fields, ...</i>
    </div>
    {{/if}}
  </div>

  <div class="form-group">
      <label class="control-label col-md-2 col-sm-3 col-xs-4">Uris</label>
    <div class="col-md-1 col-sm-2 col-xs-2" {{action "showToolTip" 'uri' on="mouseEnter"}} {{action "hideToolTip" 'uri' on="mouseLeave"}}>
      <i class="fa fa-external-link-square fa-2x" aria-hidden="true" {{action 'openSubModal'}}></i>
    </div>
    {{#if uriToolTip}}
    <div class="col-lg-7 col-md-0 col-sm-0 col-xs-0 control-label">
      <i>Open uris settings popin for ipfilters {{#if vm.is_prod}}and DNS settings{{/if}}</i>
    </div>
    {{/if}}
  </div>

  </div>
    {{else}}
      <b>Vm is not on running status.</b>
    {{/if}}
  {{/modal.body}}
  {{modal.footer closeTitle="Close"}}
{{/bs-modal}}


{{#bs-modal open=uriModal onHidden=(action 'closedSubModal') size='lg' fade=false as |modal|}}
   {{#modal.header}}
     <div class="text-center">Uris for {{vm.name}}</div>
   {{/modal.header}}
   {{#modal.body}}
   <div class="form-horizontal">
        <div class="form-group">
    {{#if errorUri}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-danger">Uris</label>
    {{else}}
      <label class="control-label col-md-2 col-sm-3 col-xs-4 alert-success">Uris</label>
    {{/if}}
  </div>
  {{#each vm.uris as |uri|}}
      {{vm-form-uri vm=vm uri=uri checkListUris=checkListUris isPopin=1}}
  {{/each}}
  </div>
   {{/modal.body}}
   {{modal.footer closeTitle="Close"}}
{{/bs-modal}}

{{#bs-modal backdropClose=false open=loadingModal as |modal|}}
   {{#modal.header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/modal.header}}
   {{#modal.body}}
        <div class="text-center">Setting is curently applied, please waiting</div>
     {{/modal.body}}
{{/bs-modal}}
