<table class="table table-hover" {{action "closeHover" on="mouseLeave"}}>
 <thead>
    <tr {{action "closeHover" on="mouseEnter"}}>
        {{#if isVm}}<th class="simplify"><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>{{/if}}
        <th>URIS</th>
        <th class="simplify">Infos</th>
        {{#if isDev}}<th class="simplify"><span class="fa fa-terminal"></span></th>{{/if}}
        <th>Status</th>
        <th class="simplify">BuildTime</th>
        {{#if isLead}}<th class="simplify">User</th>{{/if}}
        <th class="simplify">Date</th>
    </tr>
</thead>
<tbody>
  {{#each vms as |vm|}}
    {{#if vm.isShow}}
    <tr {{action "showHover" vm.id on="mouseEnter"}}>
        {{#if isVm}}
            <td class="simplify">{{input type="checkbox" checked=vm.todelete}}</td>
        {{/if}}
        <td {{action "showUris" vm}} class="tdhref"><a href="">{{vm.project.name}}</a></td>
        {{#if isDev}}
            <td class="simplify tdinfo tdhref" {{action "showDetails" vm}}>
                <a href="">{{vm-hover vm=vm isShowingHovers=isShowingHovers}}</a>
            </td>
        {{else}}
            <td class="simplify tdinfo">
                {{vm-hover vm=vm isShowingHovers=isShowingHovers}}
            </td>
        {{/if}}
        {{#if isDev}}
            <td class="simplify">
                <button {{action "openVnc" vm}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-new-window"></span></button>
            </td>
        {{/if}}
        {{#if vm.sucStatus}}
            <td class="success">&nbsp;{{vm.textStatus}}</td><td class="success simplify">{{vm.timeStatus}}s</td>
        {{/if}}
        {{#if vm.warnStatus}}
            <td class="warning"><button {{action "checkStatus" vm}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></button></td><td class="warning simplify">{{vm.timeStatus}}s</td>
        {{/if}}
        {{#if vm.dangStatus}}
            <td class="danger">&nbsp;{{vm.textStatus}}</td><td class="danger simplify"><button {{action "checkStatus" vm}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></button></td>
        {{/if}}
        {{#if isLead}}
            <td class="simplify">{{vm.user.email}}</td>
        {{/if}}
        <td class="simplify">{{vm.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>
{{#if isVm}}
<div class="btn-group" style="width: 100%;">
    <div style="display: inline-block;float: left;">
    <button {{action "newItem"}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div style="display:inline-block;float:right;margin:8px;">{{#each pages as |page|}}<a href="#" {{action 'changePage' page.cp}}>{{#if page.current}}<span style="background-color: rgb(51,122,183);color: white;">&nbsp;{{page.cp}}&nbsp;</span>{{else}}&nbsp;{{page.cp}}&nbsp;{{/if}}</a>{{/each}}</div>
</div>
{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{vm-details vm=vmSelected isShowingDetails=isShowingDetails isBusy=isBusy}}
{{vm-uris vm=vmSelected isShowingUris=isShowingUris isBusy=isBusy}}
{{vm-vnc vncUrl=vncUrl vncPassword=vncPassword vncLayout=vncLayout isShowingVnc=isShowingVnc isBusy=isBusy}}