<table class="table table-hover" {{action "closeHover" on="mouseLeave"}}>
 <thead>
    <tr {{action "closeHover" on="mouseEnter"}}>
        {{#if isVm}}<th class="simplify-mobile">&nbsp;</th>{{/if}}
        <th>Uris<span class="simplify"> &amp; Tools</span></th>
        <th class="simplify" title="Commit date (YMD) - Topic and Commit Message on hover">Details</th>
        {{#if isDev}}
            <th class="tdpopup"><span class="fa fa-sliders" title="Settings"></span></th>
            <th class="simplify-mobile tdpopup"><span class="fa fa-terminal" title="Vnc Terminal"></span></th>
            <th class="simplify-mobile tdpopup"><span class="fa fa-database" title="Import/Export"></span></th>
            <th class="simplify-mobile tdpopup"><span class="fa fa-bar-chart" title="Monitoring Graphs"></span></th>
        {{/if}}
        <th class="tdpopup"><span class="fa fa-heartbeat" title="Status"></span></th>
        {{#if isLead}}<th class="tduser"><span class="fa fa-user-circle" title="User"></span></th>{{/if}}
        <th class="tddate date-simplify"><span class="fa fa-calendar" title="Date creation (Y/M/D)"></span></th>
    </tr>
</thead>
<tbody>
  {{#each vms as |vm|}}
    {{#if vm.isShow}}
        <tr {{action "showHover" vm.id on="mouseEnter"}}>
        {{#if isVm}}
            {{#if vm.is_prod}}
                <td class="simplify-mobile alert-info first-col" title="Prod Vm"><span class="fa fa-cloud"></span></td>
            {{else}}
                {{#if vm.is_ro}}
                    <td class="simplify-mobile first-col">&nbsp;</td>
                {{else}}
                    <td class="simplify-mobile first-col">{{input type="checkbox" checked=vm.todelete}}</td>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if vm.is_ro}}
            {{#if vm.is_prod}}
              <td class="prod-vm-mobile">{{vm.project.name}}</td>
            {{else}}
              <td>{{vm.project.name}}</td>
            {{/if}}
        {{else}}
            {{#if vm.is_prod}}
              <td {{action "showUris" vm}} class="tdhref prod-vm-mobile" title="Uris and Tools">{{vm.project.name}}</td>
            {{else}}
              <td {{action "showUris" vm}} class="tdhref" title="Uris and Tools">{{vm.project.name}}</td>
            {{/if}}
        {{/if}}
        {{#if isDev}}
            {{#if vm.is_ro}}
                <td class="simplify tdinfo">
                    <span class="info-branch-commit">
                        {{vm-hover vm=vm isShowingHovers=isShowingHovers}}
                    </span>
                </td>
            {{else}}
                <td class="simplify tdinfo tdinfoh tdhref" {{action "showDetails" vm}} title="Commit date (YMD) - Topic and Commit Message on hover">
                    <span class="info-branch-commit">
                        {{vm-hover vm=vm isShowingHovers=isShowingHovers}}
                    </span>
                </td>
            {{/if}}
        {{else}}
            <td class="simplify tdinfo" title="Commit date (YMD) - Topic and Commit Message on hover">
                <span class="info-branch-commit">
                    {{vm-hover vm=vm isShowingHovers=isShowingHovers}}
                </span>
            </td>
        {{/if}}
        {{#if isDev}}
            <td class="tdpopup" title="Settings">
                {{#if vm.is_ro}}
                    <button class="btn btn-default btn-xs" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "showSettings" vm}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify-mobile tdpopup" title="Vnc Terminal">
                {{#if vm.is_ro}}
                    <button class="btn btn-default btn-xs" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "openVnc" vm}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify-mobile tdpopup" title="Import/Export">
                {{#if vm.is_ro}}
                    <button class="btn btn-default btn-xs" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "showIO" vm}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify-mobile tdpopup" title="Monitoring Graphs">
                {{#if vm.is_ro}}
                  <button class="btn btn-default btn-xs" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                  <button {{action "showMonitor" vm}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
        {{/if}}
        {{#if vm.sucStatus}}
            {{#if vm.isOk}}
              <td class="success tdpopup faa-hover" title="Vm is running, build was done in {{vm.timeStatus}}s">
                {{#if vm.is_ro}}
                  <span class="fa fa-plane faa-float animated-hover status-align"></span>
                {{else}}
                  <a href="#" {{action "showSupervise" vm}} class="status-align"><span class="fa fa-plane faa-float animated-hover"></span></a>
                {{/if}}
              </td>
            {{else}}
              <td class="danger tdpopup faa-hover" title="One or more services are down">
                {{#if vm.is_ro}}
                  <span class="fa fa-warning faa-flash animated faa-slow status-align"></span>
                {{else}}
                  <a href="#" {{action "showSupervise" vm}} class="status-align"><span class="fa fa-warning faa-flash animated faa-slow"></span></a>
                {{/if}}
              </td>
            {{/if}}
        {{/if}}
        {{#if vm.warnStatus}}
            <td class="warning tdpopup faa-hover" title="Vm is building since {{vm.timeStatus}}s, please waiting that setup is done">
              <span class="fa fa-wrench faa-wrench animated status-align"></span>
            </td>
        {{/if}}
        {{#if vm.dangStatus}}
            <td class="danger tdpopup" title="Vm is on error during build" {{action "checkStatus" vm on="mouseEnter"}}>
                <span class="fa fa-warning faa-flash animated faa-slow status-align"></span>
            </td>
        {{/if}}
        {{#if isLead}}
            {{#if vm.is_ro}}
                <td title="{{vm.user.email}}" class="tduser">{{vm.user.shortname}}</td>
            {{else}}
                {{#if vm.sucStatus}}
                    {{#if vm.isUserList}}
                        <td class="tduser">{{#power-select
                          options=vm.project.users
                          searchField="email"
                          selected=vm.user
                          verticalPosition='below'
                          placeholder="Select an user"
                          onchange=(action 'changeUser' vm)
                          as |user|
                        }}
                        {{user.email}}
                        {{/power-select}}
                      </td>
                    {{else}}
                        <td class="tdhref tduser" {{action 'showUserList' vm}} title="{{vm.user.email}}">{{vm.user.shortname}}</td>
                    {{/if}}
                {{else}}
                    <td title="{{vm.user.email}}" class="tduser">{{vm.user.shortname}}</td>
                {{/if}}
            {{/if}}
        {{/if}}
        <td class="simplify tddate date-simplify" title="Date creation (Y/M/D)">{{vm.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>
{{#if isVm}}
<div class="btn-group navbar-default navbottom">
    <div class="buttons-row">
      <button {{action "newItem"}} class="btn btn-default btn-sm" title="Create a New Instance"><span class="glyphicon glyphicon-plus-sign"></span></button>
      <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify-mobile" title="Delete checked Instances"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div class="pages-center">
    <table class="pages"><tr>
        {{#if pages}}
          {{#if previousPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' previousPage}}><i class="fa fa-backward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-backward"/></td>
          {{/if}}
        {{/if}}
        {{#each pages as |page|}}<td class="paging-cell paging-current-cell-{{page.current}}" {{action 'changePage' page.cp}}>{{page.cp}}</td>
        {{#if page.partial}}<td class="paging-cell-partial">...</td>{{/if}}{{/each}}
        {{#if pages}}
          {{#if nextPage}}
            <td class="paging-cell paging-cell-arrow" {{action 'changePage' nextPage}}><i class="fa fa-forward faa-pulse animated-hover"/></td>
          {{else}}
            <td class="paging-cell-arrow disabled"><i class="fa fa-forward"/></td>
          {{/if}}
        {{/if}}
      </tr></table>
      </div>
</div>

{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{#bs-modal header=false footer=false body=false renderInPlace=true autoClose=false open=loadingModal}}
   {{#bs-modal-header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/bs-modal-header}}
   {{#bs-modal-body}}
        <div class="text-center">{{{messageUser}}}</div>
   {{/bs-modal-body}}
{{/bs-modal}}

{{vm-supervise vm=vmSelected isShowingSupervise=isShowingSupervise isShowingVnc=isShowingVnc isBusy=isBusy}}
{{vm-details vm=vmSelected isShowingDetails=isShowingDetails isBusy=isBusy}}
{{vm-settings vm=vmSelected isShowingSettings=isShowingSettings isBusy=isBusy}}
{{vm-uris vm=vmSelected isShowingUris=isShowingUris isBusy=isBusy}}
{{vm-io vm=vmSelected isShowingIO=isShowingIO isBusy=isBusy}}
{{vm-monitor vm=vmSelected isShowingMonitor=isShowingMonitor isBusy=isBusy}}
{{vm-vnc vncUrl=vncUrl vncPassword=vncPassword vncLayout=vncLayout isShowingVnc=isShowingVnc isBusy=isBusy}}
