<table class="table table-hover" {{action "closeHover" on="mouseLeave"}}>
 <thead>
    <tr {{action "closeHover" on="mouseEnter"}}>
        {{#if isVm}}<th class="simplify"><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>{{/if}}
        <th>URIS</th>
        <th class="simplify">Infos</th>
        {{#if isDev}}
            <th class="simplify"><span class="fa fa-sliders" title="Settings"></span></th>
            <th class="simplify"><span class="fa fa-bar-chart" title="Monitoring Graphs"></span></th>
            <th class="simplify"><span class="fa fa-terminal" title="Vnc Terminal"></span></th>
            <th class="simplify"><span class="fa fa-database" title="Import/Export"></span></th>
        {{/if}}
        <th>Status</th>
        <th class="simplify">BuildTime</th>
        {{#if isLead}}<th class="simplify">User</th>{{/if}}
        <th class="simplify">Date</th>
    </tr>
</thead>
<tbody>
  {{#each vms as |vm|}}
    {{#if vm.isShow}}
        <tr {{action "showHover" vm.id on="mouseEnter"}}>
        {{#if isVm}}
            {{#if vm.is_prod}}
                <td class="simplify alert-info">&nbsp;</td>
            {{else}}
                {{#if vm.isRo}}
                    <td class="simplify">&nbsp;</td>
                {{else}}
                    <td class="simplify">{{input type="checkbox" checked=vm.todelete}}</td>
                {{/if}}    
            {{/if}}
        {{/if}}
        {{#if vm.isRo}}
            <td>{{vm.project.name}} <span class="simplify-inverse">({{vm.branch}})</span></td>
        {{else}}
            <td {{action "showUris" vm}} class="tdhref"><a href="">{{vm.project.name}} <span class="simplify-inverse">({{vm.branch}})</span></a></td>
        {{/if}}
        {{#if isDev}}
            {{#if vm.isRo}}
                <td class="simplify tdinfo tdinfoh">{{vm-hover vm=vm isShowingHovers=isShowingHovers}}</td>
            {{else}}
                <td class="simplify tdinfo tdinfoh tdhref" {{action "showDetails" vm}}>
                    <a href="">{{vm-hover vm=vm isShowingHovers=isShowingHovers}}</a>
                </td>
            {{/if}}
        {{else}}
            <td class="simplify tdinfo">
                {{vm-hover vm=vm isShowingHovers=isShowingHovers}}
            </td>
        {{/if}}
        {{#if isDev}}
            <td class="simplify">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "showSettings" vm}} class="btn btn-default btn-sm" title="Settings"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "showMonitor" vm}} class="btn btn-default btn-sm" title="Monitoring Graphs"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "openVnc" vm}} class="btn btn-default btn-sm" title="Vnc Terminal"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
            <td class="simplify">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-new-window"></span></button>
                {{else}}
                    <button {{action "showIO" vm}} class="btn btn-default btn-sm" title="Import/Export"><span class="glyphicon glyphicon-new-window"></span></button>
                {{/if}}
            </td>
        {{/if}}
        {{#if vm.sucStatus}}
            <td class="success">&nbsp;{{vm.textStatus}}</td><td class="success simplify">{{vm.timeStatus}}s</td>
        {{/if}}
        {{#if vm.warnStatus}}
            <td class="warning">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-refresh"></span></button>
                {{else}}
                    <button {{action "checkStatus" vm}} class="btn btn-default btn-sm" title="Refresh status"><span class="glyphicon glyphicon-refresh"></span></button>
                {{/if}}
            </td>
            <td class="warning simplify">{{vm.timeStatus}}s</td>
        {{/if}}
        {{#if vm.dangStatus}}
            <td class="danger">&nbsp;{{vm.textStatus}}</td>
            <td class="danger simplify">
                {{#if vm.isRo}}
                    <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-refresh"></span></button>
                {{else}}
                    <button {{action "checkStatus" vm}} class="btn btn-default btn-sm" title="Refresh status"><span class="glyphicon glyphicon-refresh"></span></button>
                {{/if}}
            </td>
        {{/if}}
        {{#if isLead}}
            {{#if vm.isRo}}
                <td class="simplify">{{vm.user.email}}</td>
            {{else}}
                {{#if vm.sucStatus}}
                    {{#if vm.isUserList}}
                        <td class="simplify">{{#power-select
                          options=vm.project.users
                          searchField="email"
                          selected=vm.user
                          verticalPosition='below'
                          placeholder="Select an user"
                          onchange=(action 'changeUser' vm)
                          as |user|
                        }}
                        {{user.email}}
                        {{/power-select}}</td>
                    {{else}}
                        <td class="simplify tdhref" {{action 'showUserList' vm}}><a href="">{{vm.user.email}}</a></td>
                    {{/if}}
                {{else}}
                    <td class="simplify">{{vm.user.email}}</td>
                {{/if}}
            {{/if}}
        {{/if}}
        <td class="simplify">{{vm.created_at_short}}</td>
    </tr>
    {{/if}}
  {{/each}}
</tbody>
</table>
{{#if isVm}}
<div class="btn-group" style="width: 100%;">
    <div style="display: inline-block;float: left;">
    <button {{action "newItem"}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button {{action "showDeleteConfirmation"}} class="btn btn-default btn-sm simplify"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div style="display:inline-block;float:right;margin:8px;">{{#each pages as |page|}}<a href="#" {{action 'changePage' page.cp}}>{{#if page.current}}<span style="background-color: rgb(51,122,183);color: white;"><span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;</span>{{else}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{page.cp}}<span class="simplify-inverse">&nbsp;</span>&nbsp;{{/if}}</a>{{/each}}</div>
</div>

{{#bs-modal open=isShowingDeleteConfirmation body=false footer=false title="Attention" submitAction=(action "deleteItems") closeAction=(action 'closeDeleteModal')}}
  {{#bs-modal-body}}
    Are you sure to proceed ?<br/>{{{deleteText}}}
    You are going to delete the following items<br/>
    <ul>
    {{#each deleteItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Cancel" submitTitle="Ok"}}
{{/bs-modal}}
{{/if}}

{{#bs-modal header=false footer=false body=false renderInPlace=true autoClose=false classNames=['ember-view','loadingModal'] open=loadingModal}}
   {{#bs-modal-header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/bs-modal-header}}
   {{#bs-modal-body}}
        <div class="text-center">{{{messageUser}}}</div>
   {{/bs-modal-body}}
{{/bs-modal}}

{{vm-details vm=vmSelected isShowingDetails=isShowingDetails isBusy=isBusy}}
{{vm-settings vm=vmSelected isShowingSettings=isShowingSettings isBusy=isBusy}}
{{vm-uris vm=vmSelected isShowingUris=isShowingUris isBusy=isBusy}}
{{vm-io vm=vmSelected isShowingIO=isShowingIO isBusy=isBusy}}
{{vm-monitor vm=vmSelected isShowingMonitor=isShowingMonitor isBusy=isBusy}}
{{vm-vnc vncUrl=vncUrl vncPassword=vncPassword vncLayout=vncLayout isShowingVnc=isShowingVnc isBusy=isBusy}}