<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav"><li>{{#linkTo 'index'}}<a href=""><img src="images/logo.png" border="0" alt="NextDeploy" class="inline-block img-responsive"/></a>{{/linkTo}}</li></ul>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          {{#if isAuthenticated}}
            {{#linkTo 'vms.list' tagName='li' href=false}}<a href="">Vms</a>{{/linkTo}}
            {{#if isDev}}
              {{#linkTo 'projects.list' tagName='li' href=false}}<a href="">Projects</a>{{/linkTo}}
            {{/if}}

            {{#if isLead}}
              {{#linkTo 'users.list' tagName='li' href=false}}<a href="">Users</a>{{/linkTo}}
            {{/if}}

            {{#if isAdmin}}
              {{#linkTo 'brands.list' tagName='li' href=false}}<a href="">Brands</a>{{/linkTo}}
            {{/if}}

            {{#linkTo 'users.edit' currentUser.id tagName='li' href=false}}<a href="">{{currentUser.email}}</a>{{/linkTo}}
            <li><a href="#" {{action 'logout'}}>Logout</a></li>
          {{else}}
            {{#linkTo 'sessions.new' tagName='li' href=false}}<a href="">Login</a>{{/linkTo}}
          {{/if}}
        </ul>
        {{#if isAuthenticated}}
        <ul class="nav navbar-nav navbar-right">
          {{#if isDev}}<li><a href="/gitlab" target="_blank">GITLAB</a></li>{{/if}}
          {{#if isPM}}<li><a href="/issues" target="_blank">A BUG ?</a></li>{{/if}}
        </ul>
        {{/if}}
      </div>
    </div>
  </nav>

  {{outlet}}
  {{outlet 'modaluris'}}
  {{outlet 'modalvm'}}
  {{outlet 'modalproject'}}
  {{outlet 'modalforgot'}}

  <!-- Footer -->
  <br/><br/>
  <footer class="footer">
      <div>&copy;2016 Eric Fehr&nbsp;-&nbsp;NextDeploy&nbsp;BETA v0.14</div>
  </footer

  <!-- Loading Modal -->
  <div class="modal" id="waitingModal" tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </div>
      </div>
    </div>
  </div>

  <!-- Error Modal -->
  <div class="modal" id="errorModal" tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">An Error is occured</h4>
        </div>

        <div class="modal-body">
            It was caused by a session expiration, an internet connection issue, a resource temporaly unavailable, or other reason like a bug<br>
            Please <a href="#" {{action 'logout'}}>click here</a> to reconnect and try again your request.<br/>
            If it occurs again, please contact the NextDeploy support on your company.
        </div>
      </div>
    </div>
  </div>

</div>
