<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav"><li>{{#linkTo 'index'}}<a href=""><img src="images/logo.png" border="0" alt="NextDeploy" class="inline-block img-responsive"/></a>{{/linkTo}}</li></ul>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          {{#if isAuthenticated}}
            {{#linkTo 'vms.list' tagName='li' href=false}}<a href="">Vms</a>{{/linkTo}}
            {{#if isDev}}
              {{#linkTo 'projects.list' tagName='li' href=false}}<a href="">Projects</a>{{/linkTo}}
            {{/if}}

            {{#if isLead}}
              {{#linkTo 'users.list' tagName='li' href=false}}<a href="">Users</a>{{/linkTo}}
            {{/if}}

            {{#if isAdmin}}
              {{#linkTo 'brands.list' tagName='li' href=false}}<a href="">Brands</a>{{/linkTo}}
            {{/if}}

            {{#linkTo 'users.edit' currentUser.id tagName='li' href=false}}<a href="">{{currentUser.email}}</a>{{/linkTo}}
            <li><a href="#" {{action 'help'}}>?</a></li>
          {{else}}
            {{#linkTo 'sessions.new' tagName='li' href=false}}<a href="">Login</a>{{/linkTo}}
          {{/if}}
        </ul>
        {{#if isAuthenticated}}
        <ul class="nav navbar-nav navbar-right">
          {{#if isDev}}<li><a href="/gitlab" target="_blank">Gitlab</a></li>{{/if}}
          <li><a href="#" {{action 'logout'}}>Logout</a></li>
        </ul>
        {{/if}}
      </div>
    </div>
  </nav>

  {{outlet}}

  <!-- NextDeploy Modals -->
  {{outlet 'modaluris'}}
  {{outlet 'modalvm'}}
  {{outlet 'modalproject'}}
  {{outlet 'modalforgot'}}
  {{outlet 'modalhelp'}}

  <!-- Loading Modal -->
  <div class="modal" id="modalloader" tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </div>
      </div>
    </div>
  </div>

  <!-- Error Modal -->
  <div class="modal" id="modalerror" tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">An Error is occured</h4>
        </div>

        <div class="modal-body">
            It was caused by a session expiration, an internet connection issue, a resource temporaly unavailable, or other reason like a bug<br>
            Please <a href="#" {{action 'logout'}}>click here</a> to reconnect and try again your request.<br/>
            If it occurs again, please contact the NextDeploy support on your company.
        </div>
      </div>
    </div>
  </div>

  <!-- Help Modal -->
<div class="modal fade" id="modalhelp" tabindex="-1"  data-backdrop="static" role="dialog" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'closeHelp'}}><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body">
{{#if isAuthenticated}}
<strong>Vm tab</strong>
<ul>
  <li>See your vms launched</li>
  <li>Get uris and credentials</li>
{{#if isPM}}
  <li>Launch a new vm</li>
{{/if}}
</ul>
{{#if isDev}}
<strong>Project tab</strong>
<ul>
{{#if isAdmin}}
  <li>Create / Modify / Delete a project</li>
{{/if}}
  <li>List of your projects</li>
  <li>Get the path for git access to the project</li>
{{/if}}
</ul>
{{#if isAdmin}}
<strong>Brand tab</strong>
<ul>
  <li>Create / Modify / Delete a brand</li>
</ul>
{{/if}}
{{#if isLead}}
<strong>User tab</strong>
<ul>
{{#if isAdmin}}
  <li>Create / Modify / Delete an user</li>
{{/if}}
  <li>User List associated with your projects</li>
</ul>
{{/if}}
<strong>Your profile</strong>
<ul>
  <li>Edit your user settings</li>
{{#if isDev}}
  <li>Manage your ssh keys</li>
  <li>Download Openvpn client files</li>
{{/if}}
</ul>

{{#if isPM}}
<strong>NextDeploy tools</strong>
<ul>
{{#if isDev}}
  <li>NextDeploy Cli, copy/paste this line into your terminal<br><pre>curl -sSL http://cli.nextdeploy.io/ | bash</pre></li>
{{/if}}
  <li>NextDeploy Android App: <a href="http://apk.nextdeploy.io/" target="_blank">http://apk.nextdeploy.io/</a></li>
</ul>
{{/if}}
{{/if}}
</div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <br/><br/>
  <footer class="footer">
      <div>&copy;2016 Eric Fehr&nbsp;-&nbsp;<a href="http://nextdeploy.io" target="_blank">NextDeploy</a>&nbsp;BETA v0.14.1</div>
  </footer>
</div>
