<table class="table">
 <thead>
    <tr>
        {{#if isVm}}<th><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>{{/if}}
        <th>Project</th>
        {{#if isDev}}<th>Commit</th>{{/if}}
        <th>Branch</th>
        <th>?</th>
        <th>Status</th>
        <th>BuildTime</th>
        {{#if isLead}}<th>User</th>{{/if}}
        <th>Date</th>
    </tr>
</thead>
<tbody>
  {{#each vm in vms}}
    <tr>
        {{#if isVm}}<td>{{input type="checkbox" checked=vm.todelete}}</td>{{/if}}
        <td>{{vm.project.name}}</td>
        {{#if isDev}}<td>{{vm.commit.short_id}}</td>{{/if}}
        <td>{{vm.commit.branche.name}}</td>
        <td><button {{action "showUri" vm.name vm.project.login vm.project.password vm.project.technos vm.project.framework.name vm.sucStatus vm.floating_ip vm.systemimage.name vm.vmsize.title}} class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span></button></td>
        {{#if vm.sucStatus}}<td class="success">{{vm.textStatus}}</td><td class="success">{{vm.timeStatus}}s</td>{{/if}}
        {{#if vm.warnStatus}}<td class="warning"><button {{action "checkStatus" vm}} class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button></td><td class="warning">{{vm.timeStatus}}s</td>{{/if}}
        {{#if vm.dangStatus}}<td class="danger">{{vm.textStatus}}</td><td class="danger"><button {{action "checkStatus" vm}} class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button></td>{{/if}}
        {{#if isLead}}<td>{{vm.user.email}}</td>{{/if}}
        <td>{{vm.created_at_short}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
{{#if isVm}}
<div class="btn-group" style="margin: 9px 0 5px;">
    <button {{action "newItem"}} class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
{{#if isShowingDeleteConfirmation}}
  <button {{action "deleteItems"}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Confirm to delete list</button>
{{else}}
  <button {{action "showDeleteConfirmation"}} class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
{{/if}}
</div>
{{/if}}