<!-- Text Modal -->
<div class="modal fade" id="modalvm" tabindex="-1"  data-backdrop="static" role="dialog" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'closeDetails'}}><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{#if isRunning}}Details{{else}}Please try again later{{/if}}</h4>
        </div>
        <div class="modal-body">
          {{#if isRunning}}
            <b>System</b><br>
            Image: {{systemimage.name}}<br>
            Sizing: {{vmsize.title}} ({{vmsize.description}})<br>
            Vm connection: ssh modem@{{floating_ip}}<br>
            Htaccess: {{project.login}} / {{project.password}}<br><br>
            <b>Commit</b><br>
            Hash: {{commit.commit_hash}}<br>
            Branche: {{branchName}}<br>
            Author: {{commit.author_email}}<br>
            Message: {{commit.message}}<br>
          {{else}}
            <b>Vm is not on running status.</b>
          {{/if}}
        </div>
      </div>
    </div>
  </div>