<!-- Text Modal -->
<div class="modal fade" id="modaluris" tabindex="-1" data-backdrop="static" role="dialog" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'closeUri'}}><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
          {{#if isRunning}}{{#if isDev}}Urls & Tools{{else}}Urls{{/if}}{{else}}Please try again later{{/if}}
          </h4>
        </div>
        <div class="modal-body">
        {{#if isRunning}}
          <b>URIS</b><br/>
          <a href="" {{action 'openVmURI' 'main'}}>Your website</a><br/>
          <a href="" {{action 'openVmURI' 'admin'}}>The admin apps (if exists)</a><br/>
          <a href="" {{action 'openVmURI' 'mobile'}}>The mobile version (if exists)</a><br/>
          <a href="" {{action 'openVmURI' 'html'}}>The html version (if exists)</a><br/>
          {{#if isNodejs}}<a href="" {{action 'openVmURI' 'nodejs'}}>The nodejs apps</a><br/>{{/if}}
          <br/><b>HTTPS</b>&nbsp;<a href="" {{action 'toggleHTTPS'}}>{{#if isHTTPS}}ON{{else}}OFF{{/if}}</a><br/>
          <br/><b>Http & CMS Access</b><br/>
          Login: {{project.login}}<br/>
          Password: {{project.password}}<br/><br/>

          {{#if isDev}}
            <b>Tools</b><br>
            <a href="" {{action 'openVmURI' 'gitsync'}}>Gitpull</a><br/>
            <a href="" {{action 'openVmURI' 'npmsh'}}>Npm / Grunt / Bower / Gulp</a><br/>
            {{#if isMysql}}
            <a href="" {{action 'openVmURI' 'phpmyadmin'}}>Phpmyadmin (s_bdd/s_bdd)</a><br/>
            {{/if}}
            <a href="" {{action 'openVmURI' 'tail'}}>Apache logs</a><br/>
            <a href="" {{action 'openVmURI' 'pminfo'}}>Phpinfo</a><br/>
            <a href="" {{action 'openVmURI' 'clearvarnish'}}>Clearvarnish</a><br/>
            
            {{#if isDrupal}}
            <a href="" {{action 'openVmURI' 'drupalcc'}}>Clear all caches</a><br/>
            <a href="" {{action 'openVmURI' 'drupalupdb'}}>Execute updb command</a><br/>
            {{/if}}

            {{#if isSf2}}
            <a href="" {{action 'openVmURI' 'composerinstall'}}>ComposerInstall</a><br/>
            <a href="" {{action 'openVmURI' 'sf2schema'}}>Sf2 Doctrine Schema: cc, assets, assetic, schema-update</a><br/>
            <a href="" {{action 'openVmURI' 'sf2migrate'}}>Sf2 Doctrine Migration: cc, assets, assetic, migrate</a><br/>
            <a href="" {{action 'openVmURI' 'tailsf2'}}>Sf2 Logs</a><br/>
            {{/if}}
          {{/if}}
        {{else}}
          <b>Vm is not on running status.</b>
        {{/if}}
        </div>
      </div>
    </div>
  </div>