<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if id}}Edit user {{email}}{{else}}Add new user{{/if}}</legend>
  <div class="form-group">
    {{#if errorEmail}}
        <label class="control-label alert-danger col-sm-2">Invalid Email !</label>
    {{else}}
        <label class="control-label alert-success col-sm-2">Email Address</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="email" classNames="form-control" value=email placeholder="Email Address" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorFirstname}}
      <label class="control-label alert-danger col-sm-2">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-sm-2">Firstname</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=firstname placeholder="Firstname" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorLastname}}
      <label class="control-label alert-danger col-sm-2">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-sm-2">Lastname</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=lastname placeholder="Lastname" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorCompany}}
      <label class="control-label alert-danger col-sm-2">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-sm-2">Company</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=company placeholder="Company" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorGroup}}
      <label class="control-label col-sm-2 alert-danger">Group</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Group</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=groupSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=group.content
       prompt="Please select a Group"
       disabled=isDisableAdmin}}
     </div>
  </div>


  <div class="form-group">
    <label class="control-label alert-success col-sm-2">Quotavm</label>
    <div class="col-sm-3">
      {{view Ember.Select
         classNames="form-control"
         selection=quotavm
         content=quotavmlist
         disabled=isDisableLead}}
    </div>
  </div>

  <div class="form-group">
    {{#if successPassword}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-sm-2">Password</label>
      {{else}}
        <label class="control-label alert-danger col-sm-2">Must be equal with Confirm !</label>
      {{/if}}
    {{else}}
      {{#if errorPassword}}
        <label class="control-label alert-danger col-sm-2"> >= 8 chars !</label>
      {{else}}
        <label class="control-label col-sm-2">Password</label>
      {{/if}}
    {{/if}}

    <div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password placeholder="Password" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if successPasswordConfirmation}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-sm-2">Password Confirmation</label>
      {{else}}
        <label class="control-label alert-danger col-sm-2">Must be equal with Password !</label>
      {{/if}}
    {{else}}
      {{#if errorPasswordConfirmation}}
        <label class="control-label alert-danger col-sm-2"> >= 8 chars !</label>
      {{else}}
        <label class="control-label col-sm-2">Password Confirmation</label>
      {{/if}}
    {{/if}}<div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password_confirmation placeholder="Password" disabled=isDisable}}
    </div>
  </div>

  {{#if isEnable}}
  <div class="form-group">
    <label class="control-label col-sm-2 alert-success">Projects</label>
    <div class="checkbox col-sm-6">
    {{#each checkedProjects}}
      <label>{{input type="checkbox" checked=checked disabled=readonly}} {{content.name}} ({{content.brand.name}})</label><br/>
    {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <div class="control-label col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{{#if isSSH}}
  <legend>SSh Keys</legend>
  {{render 'sshkeys.list' model}}

  {{#if isSelf}}
  <br><br>
  <legend>Openvpn</legend>
  An openvpn connection is mandatory for ssh access into your virtual web servers.<br>
  Firstly, you need an openvpn client software:
  <ul>
    <li>On ubuntu: apt-get install openvpn</li>
    <li>On MacOs: https://code.google.com/p/tunnelblick/</li>
    <li>On windows: https://openvpn.net/index.php/open-source/downloads.html</li>
  </ul>
  <br/>
  After it, you need to download the setting file and import this one into your openvpn client software.<br>
  The 3 others files (server crt, client key and client crt) must be downloaded and copied in specific emplacement on your filesystem.<br>
  Please change the path of this 3 files into the setting file if the destination folder is not the same than this one.<br>
  <ul>
    <li><button {{action "dlOvpnConf"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client openvpn setting file{{#if ovpn_conf}}, copy/paste into your vpn client setting file (for example: mvmc.conf)<br/><pre>{{ovpn_conf}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnCa"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The server crt file{{#if ovpn_ca}}, copy/paste into a crt file named ca.crt<br/><pre>{{ovpn_ca}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnKey"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client key file{{#if ovpn_key}}, copy/paste into a key file named {{email}}.key<br/><pre>{{ovpn_key}}</pre>{{/if}}</li>
    <li><button {{action "dlOvpnCrt"}} class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button> The client crt file{{#if ovpn_crt}}, copy/paste into a crt file named {{email}}.crt<br/><pre>{{ovpn_crt}}</pre>{{/if}}</li>
  </ul>
  {{/if}}
{{/if}}