{{#if isAuthenticated}}
<p>
Welcome {{currentUser.email}}<br/>
You are well authenticated to NextDeploy<br><br>

<strong>Vm tab</strong>
<ul>
  <li>See your vms launched</li>
  <li>Get the uri with credentials for the http access to your environments</li>
{{#if isPM}}
  <li>Launch a new vm</li>
{{/if}}
</ul>
{{#if isDEV}}
<strong>Project tab</strong>
<ul>
{{#if isAdmin}}
  <li>Create / Modify / Delete a project</li>
{{/if}}
  <li>List of your projects</li>
  <li>Get the path for git access to the project</li>
{{/if}}
</ul>
{{#if isAdmin}}
<strong>Brand tab</strong>
<ul>
  <li>Create / Modify / Delete a brand</li>
</ul>
{{/if}}
{{#if isLead}}
<strong>User tab</strong>
<ul>
{{#if isAdmin}}
  <li>Create / Modify / Delete an user</li>
{{/if}}
  <li>List users binded to your projects</li>
</ul>
{{/if}}
<strong>Your profile</strong>
<ul>
  <li>Edit your user setting</li>
{{#if isDEV}}
  <li>Manage your ssh keys</li>
  <li>Download Openvpn client files</li>
{{/if}}
</ul>

{{#if isPM}}
<strong>Mvmc tools</strong>
<ul>
{{#if isDEV}}
  <li>NextDeploy Cli, copy/paste this line into your terminal<br><pre>curl –sSL http://cli.nextdeploy.io:8383/ | bash</pre></li>
{{/if}}
  <li>NextDeploy Android App: <a href="http://apk.nextdeploy.io:8383/" target="_blank">http://apk.nextdeploy.io:8383/</a></li>
</ul>
{{/if}}
</p>
{{else}}
<form {{action "loginUser" on="submit"}} class="form-horizontal">
  <legend>Please login</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Email Address</label>
    <div class="col-sm-3">
    {{input type="email" classNames="form-control" value=email placeholder="Email Address"}}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Password</label>
    <div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password placeholder="Password"}}
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  {{#if error401}}
  <div class="form-group">
    <label class="control-label col-sm-2 danger">Error</label>
    <div class="col-sm-3">You have an error on your email or passord.</div>
  </div>
  {{/if}}

  {{#if error500}}
  <div class="form-group">
    <label class="control-label col-sm-2 danger">Error</label>
    <div class="col-sm-3">A server error has occured. Please contact the support.</div>
  </div>
  {{/if}}

</form>

{{/if}}